/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;	
}


#header {
	height: 60px;
	clear:both;
}

li {
	float: right;
	margin: 8px;
}

#SignInButton {
	height: 12px;
	width: 70px;
	background: linear-gradient(to bottom,#4487FC,#4285F4);
	border-radius:2px;
	margin-top: 8px;
	margin-right: 23px;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 13px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 10px;
}

#SignInButton > a {
	color: white;
}

.HeaderText {
	font-size: 13px;
	font-family:sans-serif;
	color: #484848;
	margin-top: 24px;
	margin-bottom: 24px;
}

#grid {
	height: 22px;
	margin-top: 12px;
}



#google-logo {
	height: 92px;
	width: 270px;
	display: block;
	margin: 120px auto 0px auto;
}

#SearchBar {
	height: 28px;
	width: 575px;
	margin: 30px auto 0px auto;
	border: 1px solid #E8E8E8;
	clear: both;
}

#microphone {
	height: 22px;
	padding: 3px 1px;
	float: right;
}

.GreyButton {
	height: 14px;
	background: linear-gradient(to bottom,#F8F8F8,#F1F1F1);
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	font-size: 10px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding: 7px 0px;
	color: #484848;
}
#GoogleSearch {
	position: absolute;
	width: 85px;
	left: 40%;
	margin-top: 15px;
}

#ImFeelingLucky {
	position: relative;
	left: 100px;
	width: 100px;
}

#footer {
	width: 100%;
	bottom: 0;
	background-color: #F2F2F2;
	position: absolute;
	color: #666666;
	font-family:sans-serif;
	font-size: 13px;
	padding: 6px 0px;
	clear: both;	
}

#LeftFooterDiv {
	float: left;
	margin-left: 10px;
}
#RightFooterDiv {
	float: right;
	margin-right: 20px;
} 

ul > div > li {
	padding-left: 12px;
}